## Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [18]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
    ('Robby', '', '', '(444) 444-9999'),
    ('321 Cool Ave', 'Mike', '(384) 357-8973', 'Wazowski')
]


def get_number(name):
    for first, last, address, phone in address_book:
        if name == first or name == last or name == first + ' ' + last:
            return phone
    return -1

In [19]:
get_number('Hank')

'(555) 555-1234'

In [20]:
get_number('Klaven')

'(555) 555-4321'

In [21]:
get_number('Sydney Fife')

'(222) 222-6789'

In [22]:
get_number('Brian')

-1

In [23]:
get_number('Robby')

'(444) 444-9999'

In [24]:
get_number('Mike')

'Wazowski'

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are "ordered" as of Python 3.6</p>

##### Declaring (key, value)

In [36]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...} or a_dict = dict(key=value)

d1 = {}
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '100 Rodeo Drive'
}
print(d3)
print(type(d3))


d4 = dict(name='Brian', age=55, city='Chicago')
print(d4)
print(type(d4))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Drive'}
<class 'dict'>
{'name': 'Brian', 'age': 55, 'city': 'Chicago'}
<class 'dict'>

##### Accessing Values

In [32]:
a_list = ['Hank', 'Peter', 'Sydney', 'Tevin']

print(a_list[3])

Tevin

In [33]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive'}

In [34]:
# dict[key]
print(d3['Hank'])

123 Real Street

In [35]:
print(d3['Tevin'])

100 Rodeo Drive

In [38]:
print(d3['Brian']) # KeyError

KeyError: 'Brian'

##### .get()

In [39]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [42]:
# dict.get('key') or dict.get('key', value_if_no_key)

print(d3.get('Peter'))
print(d3.get('Brian'))
print(d3.get('Brian', 'N/A'))

321 Fake Street
None
N/A

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [43]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print(f'My favorite car is a {truck["year"]} {truck.get("make")} {truck.get("model")}')

My favorite car is a 2018 Chevrolet Silverado

##### Adding New Pairs

In [44]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive'}

In [45]:
# dict[key] = value
d3['Zooey'] = '456 Main Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive',
 'Zooey': '456 Main Street'}

In [46]:
d3.get('Zooey')

'456 Main Street'

##### Modifying Values

In [47]:
# dict[key] = value
d3['Zooey'] = '654 Second Avenue'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive',
 'Zooey': '654 Second Avenue'}

##### Removing Key, Value Pairs

In [48]:
# del dict[key]
del d3['Tevin']

In [49]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '654 Second Avenue'}

In [50]:
del d3['Tevin']

KeyError: 'Tevin'

In [51]:
# dict.pop('key') - remove key,value pair - returns value back to caller
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [52]:
removed_val = d3.pop('Zooey')

print(removed_val)

print(d3)

654 Second Avenue
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}

In [54]:
removed_val = d3.pop('Zooey', 'Not In Dictionary')

print(removed_val)

print(d3)

Not In Dictionary
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}

##### Looping a Dictionary

In [55]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [57]:
# .items()
print(d3)
print(d3.items())

{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}
dict_items([('Hank', '123 Real Street'), ('Peter', '321 Fake Street'), ('Sydney', '555 Santa Monica Blvd')])

In [59]:
for item in d3.items():
    print(item, type(item))

('Hank', '123 Real Street') <class 'tuple'>
('Peter', '321 Fake Street') <class 'tuple'>
('Sydney', '555 Santa Monica Blvd') <class 'tuple'>

In [63]:
for name, address in d3.items():
    print('Key:', name, '--', 'Value:', address)

Key: Hank -- Value: 123 Real Street
Key: Peter -- Value: 321 Fake Street
Key: Sydney -- Value: 555 Santa Monica Blvd

##### Looping Only Keys

In [64]:
help(dict.keys)

Help on method_descriptor:

keys(...)
    D.keys() -> a set-like object providing a view on D's keys

In [65]:
# .keys()
print(d3.keys())

dict_keys(['Hank', 'Peter', 'Sydney'])

In [68]:
for key in d3.keys():
    print(key)

Hank
Peter
Sydney

In [69]:
# Looping over a dictionary, it will loop through only the keys

for x in d3:
    print(x)

Hank
Peter
Sydney

In [70]:
# you can ALWAYS access the value in a dictionary from it's key
for k in d3:
    print(k, d3[k])

Hank 123 Real Street
Peter 321 Fake Street
Sydney 555 Santa Monica Blvd

##### Looping Only Values

In [71]:
help(dict.values)

Help on method_descriptor:

values(...)
    D.values() -> an object providing a view on D's values

In [72]:
# .values()
print(d3.values())

dict_values(['123 Real Street', '321 Fake Street', '555 Santa Monica Blvd'])

In [73]:
for val in d3.values():
    print(val)

123 Real Street
321 Fake Street
555 Santa Monica Blvd

In [74]:
value = '123 Real Street'

for key, val in d3.items():
    if val == value:
        print(key)

Hank

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() or f-string <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [76]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

people2 = {
    'Brian': 'blue',
    'Sarah': 'hazel',
    'Kevin': 'green'
}

In [81]:
def print_eyes(a_dict):
#     for name, color in a_dict.items():
#         print(f"{name} has {color} eyes")
    for key in a_dict:
        print(f"{key} has {a_dict[key]} eyes")

In [82]:
print_eyes(people)

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

In [83]:
print_eyes(people2)

Brian has blue eyes
Sarah has hazel eyes
Kevin has green eyes

##### Dictionary Keys

In [89]:
# Keys must be a hashable object
# str, int, float, tuple, frozenset

dict_with_keys = {
    'a': 123,
    1: 'abc',
    3.14: 'pi',
    (1, 2): 'hello world'
}

In [90]:
print(dict_with_keys.get('a'))
print(dict_with_keys.get(1))
print(dict_with_keys.get(3.14))
print(dict_with_keys.get((1,2)))

123
abc
pi
hello world

##### List with Dictionaries

In [91]:
my_list = [1, 2, 3, 'hello', 'goodbye', [4, 5, 6], {'a': 1, 'b': 2}]

print(my_list)

[1, 2, 3, 'hello', 'goodbye', [4, 5, 6], {'a': 1, 'b': 2}]

In [97]:
print(my_list[6], type(my_list[6]))
print(my_list[6]['a'])
print(my_list[6].get('b'))
print(my_list[6].items())

{'a': 1, 'b': 2} <class 'dict'>
1
2
dict_items([('a', 1), ('b', 2)])

In [99]:
# print(my_list['a'])

##### List of Dictionaries

In [104]:
movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'Parasite', 'director': 'Bong Joon Ho', 'release_year': 2019},
    {'release_year': 2006, 'title': 'The Departed'}
]

print(movies)

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'Parasite', 'director': 'Bong Joon Ho', 'release_year': 2019}, {'release_year': 2006, 'title': 'The Departed'}]

In [105]:
for mov in movies:
#     print(mov, type(mov))
    print(f"Title: {mov.get('title')} - Directed By: {mov.get('director', 'Unknown')} - {mov.get('release_year')}")

Title: Inception - Directed By: Christopher Nolan - 2010
Title: The Social Network - Directed By: David Fincher - 2010
Title: Parasite - Directed By: Bong Joon Ho - 2019
Title: The Departed - Directed By: Unknown - 2006

##### Dictionaries with Lists

In [112]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
data = {
    'my_list': [10, 20, 30],
    0: ['a', 'b', 'c']
}

print(data)
print(data['my_list'])
print(data[0]) # this is NOT an index - this is accessing the key 0
print(data['my_list'][1])
data['my_list'].append(40)
print(data)

{'my_list': [10, 20, 30], 0: ['a', 'b', 'c']}
[10, 20, 30]
['a', 'b', 'c']
20
{'my_list': [10, 20, 30, 40], 0: ['a', 'b', 'c']}

##### Dictionaries with Dictionaries

In [119]:
# to get values, must traverse through keys

my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe)
print(my_shoppe.keys())
print(my_shoppe['ice_cream'], type(my_shoppe['ice_cream']))
print(my_shoppe['ice_cream']['vanilla'])
print(my_shoppe.get('milkshake').get('oreo'))

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}, 'milkshake': {'vanilla': 3.99, 'chocolate': 3.99, 'oreo': 4.49}}
dict_keys(['ice_cream', 'milkshake'])
{'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49} <class 'dict'>
2.99
4.49

In [120]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

In [128]:
# How many years did Jimmy Smith work at AlphaInc?
total_years = len(job_app['experience'][1]['years_at_company'])

print(f"{job_app['full_name']} spent {total_years} years at {job_app['experience'][1]['company']}")

Jimmy Smith spent 2 years at AlphaInc

In [129]:
import requests

In [132]:
res = requests.get('https://pokeapi.co/api/v2/pokemon/pikachu')
data = res.json()

In [136]:
for move in data.get('moves'):
    print(move['move']['name'])

mega-punch
pay-day
thunder-punch
slam
double-kick
mega-kick
headbutt
body-slam
take-down
double-edge
tail-whip
growl
surf
submission
counter
seismic-toss
strength
thunder-shock
thunderbolt
thunder-wave
thunder
dig
toxic
agility
quick-attack
rage
mimic
double-team
defense-curl
light-screen
reflect
bide
swift
skull-bash
flash
rest
substitute
thief
snore
curse
reversal
protect
sweet-kiss
mud-slap
zap-cannon
detect
endure
charm
rollout
swagger
spark
attract
sleep-talk
return
frustration
dynamic-punch
encore
iron-tail
hidden-power
rain-dance
rock-smash
uproar
facade
focus-punch
helping-hand
brick-break
knock-off
secret-power
fake-tears
signal-beam
covet
volt-tackle
calm-mind
shock-wave
natural-gift
feint
fling
magnet-rise
nasty-plot
discharge
captivate
grass-knot
charge-beam
electro-ball
round
echoed-voice
volt-switch
electroweb
wild-charge
disarming-voice
draining-kiss
play-rough
play-nice
confide
eerie-impulse
electric-terrain
nuzzle
laser-focus
rising-voltage
tera-blast
trailblaze

In [137]:
# List Comprehension
# [transform iterable filter]

nums = [x**2 for x in range(10) if x % 2 == 0]
print(nums)

[0, 4, 16, 36, 64]

In [139]:
# Dictionary Comprehension
# {transform key:vale iterable filter}

square_nums = {str(x):x**2 for x in range(10) if x % 2 == 1}

print(square_nums)

{'1': 1, '3': 9, '5': 25, '7': 49, '9': 81}

##### in keyword with Dictionaries

In [144]:
# The in keyword will return True if the key is in the dictionary, False otherwise

random_dict = {
    'a': 123,
    'b': 456,
    'c': 789
}


print('a' in random_dict)
print('b' in random_dict)
print('z' in random_dict)
print(123 in random_dict)

True
True
False
False

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [140]:
hash('hello')

5290141815331051544

In [145]:
small_dict = {i:'value' for i in range(10)}
small_list = [x for x in range(10)]

print(small_dict)
print(small_list)

{0: 'value', 1: 'value', 2: 'value', 3: 'value', 4: 'value', 5: 'value', 6: 'value', 7: 'value', 8: 'value', 9: 'value'}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [146]:
import time


# generate fake dictionary
big_dictionary = {i: 'value' for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [148]:
time.time()

1695927123.7547581

In [151]:
# tracking time for set
start_time = time.time()

print(9999999 in big_dictionary)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0005159378051757812
True
Elapsed time for list: 0.9895803928375244

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [152]:
# set() or {val,}
# no order {3, 2, 1} output as {1, 2, 3}

first_set = set()
print(first_set)
print(type(first_set))

set()
<class 'set'>

In [153]:
second_set = {3, 1, 5, 56}
print(second_set)
print(type(second_set))

{56, 1, 3, 5}
<class 'set'>

In [154]:
empty_set = {} # This will create an empty DICTIONARY!
print(empty_set)
print(type(empty_set))

{}
<class 'dict'>

In [155]:
third_set = {1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3}
print(third_set)

{1, 2, 3}

In [156]:
for element in third_set:
    print(element)

1
2
3

In [157]:
for e in second_set:
    print(e)

56
1
3
5

##### .add()

In [158]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [159]:
third_set.add(44)
print(third_set)

{1, 2, 3, 44}

In [160]:
third_set.add(1)
print(third_set)

{1, 2, 3, 44}

##### .remove()

In [161]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [162]:
third_set.remove(2)
print(third_set)

{1, 3, 44}

In [163]:
third_set.remove(2)
print(third_set)

KeyError: 2

##### .union()

In [164]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [166]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s1.union(s2)
print(s3)

# OR 

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [167]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [169]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s1.intersection(s2)
print(s5)

# OR 

s6 = s2 & s1
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [170]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [174]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s7 = s1.difference(s2)
print(s7)

s8 = s2.difference(s1)
print(s8)

# OR 

s9 = s1 - s2
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{5, 6}
{1, 2}
{5, 6}

In [177]:
# Set can have any immutable type as a member - int, float, boolean, str, tuple, class objects, functions

# my_list_set = {[1, 2, 3]}

many_types_set = {1, 2.34, True, 'hello', (1, 2, 3), str, len}
print(many_types_set)

{1, 2.34, <class 'str'>, (1, 2, 3), 'hello', <built-in function len>}

In [179]:
# my_set_of_sets = {{1, 2, 3}, {4, 5, 6}} #TypeError: unhashable type: 'set'

##### .clear()

In [180]:
# Empties the whole set
# set.clear()
help(set.clear)

Help on method_descriptor:

clear(...)
    Remove all elements from this set.

In [181]:
nums = {23, 654, 34, 65, 234, 8976}

print(nums)

nums.clear()

print(nums)

{8976, 65, 34, 23, 234, 654}
set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [182]:
# frozensets:sets :: tuples:lists

In [184]:
# frozenset([])
s3

{1, 2, 3, 4, 5, 6}

In [185]:
my_frozen_set = frozenset(s3)
print(my_frozen_set)
print(type(my_frozen_set))

frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>

In [186]:
help(frozenset)

Help on class frozenset in module builtins:

class frozenset(object)
 |  frozenset() -> empty frozenset object
 |  frozenset(iterable) -> frozenset object
 |
 |  Build an immutable unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [187]:
my_frozen_set.add(7)

AttributeError: 'frozenset' object has no attribute 'add'

In [188]:
my_frozen_set.clear()

AttributeError: 'frozenset' object has no attribute 'clear'

In [193]:
# Since frozensets are immutable, they CAN be used as dictionary keys

dict_abc = {
    frozenset({1, 2, 3}): 'hello'
}

print(dict_abc)
print(dict_abc.get(frozenset({1,2,3})))

{frozenset({1, 2, 3}): 'hello'}
hello

In [195]:
# Set Comprehension - only diff from list comprehension is using {} instead of []

list_of_10 = [x for x in range(1,11)]
print(list_of_10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [196]:
set_of_10 = {x for x in range(1,11)}
print(set_of_10)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [197]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [201]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0009980201721191406
True
Elapsed time for list: 0.8632822036743164

In [203]:
def count_vowels(string):
    vowels = {'a', 'e', 'i', 'o', 'u'}
    count = 0
    for letter in string:
        if letter.lower() in vowels:
            count += 1
    return count

count_vowels('Hello my name is Brian')

7

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the variables into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [204]:
from IPython.display import clear_output

while True:
    ask = input('Enter something: ')
    if ask == 'quit':
        break
    elif ask == 'clear':
        clear_output()

Enter something: break
Enter something: quit

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [ ]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'
# Output can be a list, set, tuple, or string